<h1>简化表单Label</h1>
<div nz-row [nzGutter]="32" style="background-color: white">
  <div nz-col nzSpan="6" style="border: 1px solid #1890ff; padding-top: 16px">
    <form nz-form [formGroup]="formGroup" (ngSubmit)="submit()" nzType="horizontal">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="8" nzRequired>用户名</nz-form-label>
            <nz-form-control nsErrorTip nzHasFeedback nzSpan="16">
              <input nz-input formControlName="userText" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="8" nzRequired>用户编码</nz-form-label>
            <nz-form-control nsErrorTip nzHasFeedback nzSpan="16">
              <input nz-input formControlName="userCode" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="8" nzRequired>年龄</nz-form-label>
            <nz-form-control nsErrorTip nzHasFeedback nzSpan="16">
              <input nz-input formControlName="age" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="8" nzRequired>虚岁</nz-form-label>
            <nz-form-control nsErrorTip nzHasFeedback nzSpan="16">
              <input nz-input formControlName="age2" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24" style="text-align: right; margin-bottom: 16px">
          <button nz-button [nzType]="'primary'">保存</button>
        </div>
      </div>
    </form>
  </div>
  <div nz-col nzSpan="18">
    <p>
      像必填项等常规验证消息，适合<b>统一处理</b>而不应该在每个表单都<b>重复</b>一遍。90% 的表单项都只需要放置一个
      nsErrorTip 即可自动显示合适的验证错误信息：
    </p>
    <p>
      <b>* 注：</b>ng-zorro 9.1.0 新增的 nzAutoTips
      指令在大部分情况下是更简单的解决方案，同样支持全局配置和自定义验证信息，推荐优先考虑使用 nzAutoTips
      指令。详见官方文档：https://ng.ant.design/components/form/zh
    </p>
    <pre>
    <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">form </span><span style="color: #ff0000;">nz-form [formGroup]</span><span style="color: #0000ff;">="formGroup"</span><span style="color: #ff0000;"> (ngSubmit)</span><span style="color: #0000ff;">="submit()"</span><span style="color: #ff0000;"> nzType</span><span style="color: #0000ff;">="horizontal"</span><span style="color: #0000ff;">&gt;</span>
      <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">nz-row</span><span style="color: #0000ff;">&gt;</span>
        <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">nz-col nzSpan</span><span style="color: #0000ff;">="24"</span><span style="color: #0000ff;">&gt;</span>
          <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">nz-form-item</span><span style="color: #0000ff;">&gt;</span>
            <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">nz-form-label </span><span style="color: #ff0000;">[nzSpan]</span><span style="color: #0000ff;">="8"</span><span style="color: #ff0000;"> nzRequired</span><span style="color: #0000ff;">&gt;</span>用户名<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">nz-form-label</span><span style="color: #0000ff;">&gt;</span>
            <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">nz-form-control </span><span style="color: #0000ff;"><b>nsErrorTip</b> nzHasFeedback nzSpan</span><span style="color: #0000ff;">="16"</span><span style="color: #0000ff;">&gt;</span>
              <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">input </span><span style="color: #ff0000;">nz-input formControlName</span><span style="color: #0000ff;">="userText"</span> <span style="color: #0000ff;">/&gt;</span>
            <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">nz-form-control</span><span style="color: #0000ff;">&gt;</span>
          <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">nz-form-item</span><span style="color: #0000ff;">&gt;</span>
        <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span>
        <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">nz-col nzSpan</span><span style="color: #0000ff;">="24"</span><span style="color: #0000ff;">&gt;</span>
          <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">nz-form-item</span><span style="color: #0000ff;">&gt;</span>
            <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">nz-form-label </span><span style="color: #ff0000;">[nzSpan]</span><span style="color: #0000ff;">="8"</span><span style="color: #ff0000;"> nzRequired</span><span style="color: #0000ff;">&gt;</span>用户编码<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">nz-form-label</span><span style="color: #0000ff;">&gt;</span>
            <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">nz-form-control </span><span style="color: #0000ff;"><b>nsErrorTip</b> nzHasFeedback nzSpan</span><span style="color: #0000ff;">="16"</span><span style="color: #0000ff;">&gt;</span>
              <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">input </span><span style="color: #ff0000;">nz-input formControlName</span><span style="color: #0000ff;">="userCode"</span> <span style="color: #0000ff;">/&gt;</span>
            <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">nz-form-control</span><span style="color: #0000ff;">&gt;</span>
          <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">nz-form-item</span><span style="color: #0000ff;">&gt;</span>
        <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span>
        <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">nz-col nzSpan</span><span style="color: #0000ff;">="24"</span><span style="color: #0000ff;">&gt;</span>
          <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">nz-form-item</span><span style="color: #0000ff;">&gt;</span>
            <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">nz-form-label </span><span style="color: #ff0000;">[nzSpan]</span><span style="color: #0000ff;">="8"</span><span style="color: #ff0000;"> nzRequired</span><span style="color: #0000ff;">&gt;</span>年龄<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">nz-form-label</span><span style="color: #0000ff;">&gt;</span>
            <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">nz-form-control </span><span style="color: #0000ff;"><b>nsErrorTip</b> nzHasFeedback nzSpan</span><span style="color: #0000ff;">="16"</span><span style="color: #0000ff;">&gt;</span>
              <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">input </span><span style="color: #ff0000;">nz-input formControlName</span><span style="color: #0000ff;">="age"</span> <span style="color: #0000ff;">/&gt;</span>
            <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">nz-form-control</span><span style="color: #0000ff;">&gt;</span>
          <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">nz-form-item</span><span style="color: #0000ff;">&gt;</span>
        <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span>
        <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">nz-col nzSpan</span><span style="color: #0000ff;">="24"</span><span style="color: #0000ff;">&gt;</span>
          <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">nz-form-item</span><span style="color: #0000ff;">&gt;</span>
            <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">nz-form-label </span><span style="color: #ff0000;">[nzSpan]</span><span style="color: #0000ff;">="8"</span><span style="color: #ff0000;"> nzRequired</span><span style="color: #0000ff;">&gt;</span>虚岁<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">nz-form-label</span><span style="color: #0000ff;">&gt;</span>
            <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">nz-form-control </span><span style="color: #0000ff;"><b>nsErrorTip</b> nzHasFeedback nzSpan</span><span style="color: #0000ff;">="16"</span><span style="color: #0000ff;">&gt;</span>
              <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">input </span><span style="color: #ff0000;">nz-input formControlName</span><span style="color: #0000ff;">="age2"</span> <span style="color: #0000ff;">/&gt;</span>
            <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">nz-form-control</span><span style="color: #0000ff;">&gt;</span>
          <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">nz-form-item</span><span style="color: #0000ff;">&gt;</span>
        <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span>
        <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">nz-col nzSpan</span><span style="color: #0000ff;">="24"</span><span style="color: #ff0000;"> style</span><span style="color: #0000ff;">="text-align: right;"</span><span style="color: #0000ff;">&gt;</span>
          <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">button </span><span style="color: #ff0000;">nz-button [nzType]</span><span style="color: #0000ff;">="'primary'"</span><span style="color: #0000ff;">&gt;</span>保存<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">button</span><span style="color: #0000ff;">&gt;</span>
        <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span>
      <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span>
    <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">form</span><span style="color: #0000ff;">&gt;</span></pre>
    <p>当然，错误信息不可能凭空出现。我们需要在 AppModule 中预先注册错误类型和默认的错误提示信息：</p>
    <pre>
      <span style="color: #000000;">export class AppModule {{'{'}}
        constructor(private errorTipService: NsFormErrorTipService) {{'{'}}
          errorTipService.registerErrorType({{'{'}} errorType: </span>"required", defaultMessage: "必填项"<span style="color: #000000;"> {{'}'}});
          errorTipService.registerErrorType({{'{'}} errorType: </span>"isInt", defaultMessage: "必须是整数"<span style="color: #000000;"> {{'}'}});
          errorTipService.registerErrorType({{'{'}} errorType: </span>"greateEqual", defaultMessage: ""<span style="color: #000000;"> {{'}'}});
        {{'}'}}
      {{'}'}}</span></pre>
    <p>对于需要在验证方法中输出错误信息的情况，约定由验证方法返回带有 "msg" 属性的对象：</p>
    <pre>
    <span style="color: #000000;">export class ExtValidators {{'{'}}
      </span><span style="color: #008000;">/*</span><span style="color: #008000;">*
       * 验证控件值必须大于等于另一控件的值
       </span><span style="color: #008000;">*/</span><span style="color: #000000;">
      static greateEqual(lhsControlName: string, rhsControlName: string, errMsg: string) {{'{'}}
        ...
        </span><span style="color: #0000ff;">if</span><span style="color: #000000;"> (isValid) {{'{'}}
          </span><span style="color: #0000ff;">return</span> <span style="color: #0000ff;">null</span><span style="color: #000000;">;
        {{'}'}} </span><span style="color: #0000ff;">else</span><span style="color: #000000;"> {{'{'}}
          lhsControl.setErrors({{'{'}}
            greateEqual: {{'{'}} <span style="color: #0000ff;"><b>msg</b></span>: errMsg {{'}'}}
          {{'}'}});
          rhsControl.setErrors({{'{'}}
            greateEqual: {{'{'}} <span style="color: #0000ff;"><b>msg</b></span>: errMsg {{'}'}}
          {{'}'}});
          </span><span style="color: #0000ff;">return</span><span style="color: #000000;"> {{'{'}} greateEqual: {{'{'}} msg: errMsg {{'}'}} {{'}'}};
        {{'}'}}
      {{'}'}}
    {{'}'}}</span></pre>
    <p>
      完整例子请参考：<a
        target="_blank"
        href="https://github.com/1-2-3/zorro-sharper/blob/master/src/app/pages/directive-demo/form/form-error-tip.component.html"
        >form-error-tip.component.html</a
      >&nbsp;
      <a
        target="_blank"
        href="https://github.com/1-2-3/zorro-sharper/blob/master/src/app/pages/directive-demo/form/form-error-tip.component.ts"
        >form-error-tip.component.ts</a
      >&nbsp;
      <a target="_blank" href="https://github.com/1-2-3/zorro-sharper/blob/master/src/app/shared/ext-validators.ts"
        >ext-validators.ts</a
      >&nbsp;
      <a target="_blank" href="https://github.com/1-2-3/zorro-sharper/blob/master/src/app/app.module.ts"
        >app.module.ts</a
      >
    </p>
  </div>
</div>
