<button
  nsSlideout
  [nsSlideoutContent]="contentTemplate"
  [nsVisible]="visible2"
  nz-button
  [nzType]="'default'"
  (click)="toggleVisible2()"
>
  按钮2
</button>
<div class="content" nsAutoHeightDiv="50">内容</div>
<button
  nsSlideout
  [nsSlideoutContent]="contentTemplate"
  [nsVisible]="visible"
  nz-button
  [nzType]="'default'"
  (click)="toggleVisible()"
>
  按钮
</button>
<ng-template #contentTemplate>
  <app-slideout-content></app-slideout-content>
</ng-template>
<ng-template #contentTemplate2>
  <div style="width: 400px; height: 300px; background-color: #fff">弹出层里的内容222</div>
</ng-template>
