<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <h1>ZORRO Sharper Demo</h1>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="指令集">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/directives/auto-height-card-demo">自适应高度卡片和DIV</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/directives/auto-height-table-demo">自适应高度表格</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="组件集">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>验证信息</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
